node_modules
.env
.env.local
.env.*
dist
.server/dist
.DS_Store
coverage
*.log
.gptree*
gptree_output.txt
server/src/generated/
antusuggestion*
myenv
output_files
tts_outputs*
*.py
backfill_random.js
sannity
logs/
*.log
scripts/
__pycache__/
